<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="name1" value="Gary Yutong Bao" />
    <add key="id1" value="702" />
    <add key="name2" value="Daniel Bedoya" />
    <add key="id2" value="236" />
  </appSettings>
  
</configuration>